@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
}
:root{
    --primary-color : #78e2cd;
}

.btn-hover:hover{
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.or-div::before{
    content: '';
    position: relative;
    width: 15px;
    height: 2px;
    margin: 0px 2px;
    background: rgb(112, 110, 110);
}

.or-div::after{
    content: '';
    position: relative;
    width: 15px;
    height: 2px;
    margin: 0px 2px;
    background: rgb(112, 110, 110);
}

.signup , .Login{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.sideBar-hover:hover{
    background: #f9fafb;
    color: black;
    transform: translateX(2px);
    transition: all .1s;
    border: none;
}
.hover-box-shadow:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.02), 0 6px 6px rgba(0,0,0,0.13);    
}

@media screen and (max-width:900px) {
    .signup-container , .Login-container{
        padding: 0px;
    }
    .signup{
        flex-direction: column;
        width: 90%;
    }
    .side-text{
        min-height: 20px;
        width: 100%;
    }
    .text{
        width: 100%;
    }
    img.element{
        display: none;
    }
    .form-div{
        margin-top: 30px;
        width: 100%;
        min-height: 30px;
    }
}

@media screen and (max-width:500px) {
    .signup , .Login{
        height: 100%;
        padding: 0;
        width: 100%;
        box-shadow: none;
    }
    .button-div{
        flex-direction: column;
    }
}